{% extends "emails/base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<h2>Password Reset Request</h2>

<p>Hello {{ username }},</p>

<p>We received a request to reset your password. Click the button below to create a new password:</p>

<a href="{{ url_for('auth.reset_password', token=reset_token, _external=True) }}" class="button">Reset Password</a>

<p>This link will expire in 1 hour for security reasons.</p>

<p>If you didn't request a password reset, you can safely ignore this email.</p>

<p>Best regards,<br>The FitCheck Team</p>
{% endblock %}